<!-- Footer -->
  <footer class="page-footer font-small elegant-color-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contactos</h5>

          <ul class="list-unstyled">
            <li>
              <mdb-icon fas icon="globe" class="mr-3"></mdb-icon>
              <a href="https://aissc.dsi.uminho.pt/"
                 target="_blank">AIS.SC UMINHO</a>
            </li>
            <li>
              <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> aissc@dsi.uminho.pt
            </li>
            <li>
              <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> 253 510 319
            </li>
            <li>
              <mdb-icon fas icon="map-marker" class="mr-3"></mdb-icon> Departamento de Sistemas de Informação,
              Sala de Reuniões I, Campus de Azurém, 4800 – 058 Guimarães
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-3">Redes Sociais</h5>

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/AISSC.UMINHO" target="_blank">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-4 mr-2"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/aisscuminho/" target="_blank">
            <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-4 mr-2"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/ais.sc.um/" target="_blank">
            <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-4 mr-2"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Apoios Institucionais</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.uminho.pt/" target="_blank">Universidade do Minho</a>
            </li>
            <li>
              <a href="https://www.eng.uminho.pt/" target="_blank">Escola de Engenharia da Universidade do Minho</a>
            </li>
            <li>
              <a href="http://www.aaum.pt/" target="_blank">AAUM</a>
            </li>
            <li>
              <a href="http://www.ipdj.pt/" target="_blank">IPDJ</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      © {{year}} Copyright:
      <a href="https://aissc.dsi.uminho.pt/">AIS.SC UMinho</a>
    </div>
    <!-- Copyright -->

  </footer>
<!-- Footer -->
