<div class="bg" >

  <img class="img-fluid" src="/assets/img/breve2020.png" alt="Responsive image">

</div>


<!--2019 section-->

<section class="text-center mb-4 grey lighten-2">

  <div class="d-flex justify-content-center">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Sobre o TSI2MARKET</h2>
    <!-- Section description -->
  </div>
  <p class="text-center w-responsive mx-auto mb-5">
    O TSI2Market é um evento realizado anualmente no campus de Azurém da Universidade do Minho, organizado pela Association for Information Systems Student Chapter
    UMinho (AIS.SC UMinho) que procura aproximar os estudantes do mercado de trabalho, promovendo ações de formação, workshops, desafios, sessões temáticas e networking,
    tendo o privilégio de contar com as melhores empresas ligadas às Tecnologias de Informação.
  </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="/assets/img/banner2019.jpg" alt="Responsive image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="col-lg-7 align-middle">

      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>TSI2MARKET'19</strong></h3>
      <!-- Excerpt -->
      <p>
        No TSI2Market'19, aproximamos, mais uma vez, a comunidade académica ao mundo de trabalho, dando a oportunidade aos alunos de terem um contacto direto com as empresas.
        Ao longo de 3 dias, foram realizadas sessões temáticas dos mais diversos temas, workshops, uma feira de emprego e diversas atividades e desafios. Foram mais de 400
        alunos a participar nas sessões e workshops e 27 empresas presentes na feira de emprego.
      </p>
    </div>
    <!-- Grid column -->

  </div>

  <!-- Grid row -->

</section>
<!--End 2019 section-->




