<style>
  /* .col-md-4 and .col-md-3 {
    top: 0px;
    width: 100%;
    filter: opacity(10%);
    height: 100%;
    position: absolute;
    background-size: 100%;
    background-image: url(/img/random_bubbles_lines.svg);
    background-position-x: 50%;
    background-repeat: no-repeat;
}

.media {
    display: inline-flex;
    display: grid;
    -webkit-box-align: start;
    align-items: center;
} */

/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div>
   @media screen and (max-width: 20px) and (min-width: 100px), (min-width: 2000px) {
  
    .col-md-4 and .col-md-3{
    
    padding: 50px;
    border: 8px solid black;
    
  }
}  */
/* 
@media only screen and (max-width: 760px) {
	
  .col-md-4 and .col-md-3 {
		 width: 100%;
		 display: block;
	}
	 table tr th:not(:first-child) {
		 width: 40%;
		 transition: transform 0.4s ease-out;
		 transform: translateY(-9999px);
		 position: relative;
		 z-index: -1;
	
}
}
 @media only screen and (max-width: 300px) {
  .col-md-4 and .col-md-3 {
		 width: 50%;
		 font-size: 14px;
	
} */
 



.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

</style>

<br> 
<br> 
<br>

<h1 _ngcontent-uia-c2="" class="text-center mb-3" style="color:white; font-weight: bold;" > Patrocínios </h1>

<br>
<br>
<br>


<div class="content">
  
<br>

            <div class="row" >
                      
                    
                  <div class="col-md-4">            
                    <div class="media" class="center" >
                          <a href="#">
                              <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                          </a>
                  </div>       
              </div>
                  
              <div class="col-md-4">            
                <div class="media" class="center">
                      <a href="#">
                          <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                      </a>
              </div>       
              </div>

                
              <div class="col-md-4">            
                <div class="media" class="center">
                      <a href="#">
                          <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                      </a>
              </div>       
              </div>
               


              </div>

              
              <br>
              <br>
              <br>


              <div class="row" >
                      
                    
                <div class="col-md-4">            
                  <div class="media" >
                        <a href="#" class="center" >
                            <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                        </a>
                </div>       
            </div>
                
            <div class="col-md-4">            
              <div class="media" class="center">
                    <a href="#">
                        <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                    </a>
            </div>       
            </div>

              
            <div class="col-md-4">            
              <div class="media" class="center">
                    <a href="#">
                        <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                    </a>
            </div>       
            </div>
             


            </div>


             
              <br>
              <br>
              <br>


              <div class="row" >
                      
                    
                <div class="col-md-4">            
                  <div class="media" class="center" >
                        <a href="#">
                            <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                        </a>
                </div>       
            </div>
                
            <div class="col-md-4">            
              <div class="media" class="center">
                    <a href="#">
                        <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                    </a>
            </div>       
            </div>

              
            <div class="col-md-4">            
              <div class="media" class="center">
                    <a href="#">
                        <img class="d-block mx-auto mx-md-0" src="/assets/img/logo_ais.png" alt="Responsive image">
                    </a>
            </div>       
            </div>
             


            </div>



            <br>
<br>
<br>
<br>



</div><!-- .content -->


<br>
<br>

<br>
<br>
<br>
<br>